{% extends 'base.html' %}
{% block content %}

<h1 class='text-center'> PHOTO HUB </h1>

<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal1"><img class="card-img-top" height="250px"  src="/static/images/travel/tr1.jpg" alt="Card image cap"></a>
                <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/travel/tr1.jpg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >The beautiful coast of Cape Town South Africa has one of the most iconic scenes.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Cape Town, South Africa</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >01/03/2014<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> CAPETOWN </p>
                </div>
            </div>
        </div>

        
            <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal2"><img class="card-img-top" height="250px"  src="/static/images/food/fd1.jpg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/food/fd1.jpg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >Mombasa is among the fewest town to have the best and most delicious swahili dishes in EastAfrica.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Mombasa, Kenya</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >11/02/2011<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> SWAHILI DISH </p>

                </div>
            </div>
        </div>
                <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal3"><img class="card-img-top" height="250px"  src="/static/images/history/hist.jpeg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/history/hist.jpeg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >The Great Sphinx of Giza among top 10 wonders of the world built in ancient egytian civilization.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Cairo, Egypt</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >24/08/2016<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> CAIRO </p>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal4"><img class="card-img-top" height="250px"  src="/static/images/wildlife/w2.jpeg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/wildlife/w2.jpeg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >A horde of elephants talking a stride in the great Maasai Mara park.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Maasai Mara, Kenya</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >05/04/2014<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> MAASAI MARA </p>

                </div>
            </div>
        </div>
                <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal5"><img class="card-img-top" height="250px"  src="/static/images/travel/tr6.jpg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/travel/tr6.jpg" name="aboutme" width="90%" height="90%">
                    
                    </center>
                    <hr>
                    <p style="font-size: 15px" >Santorini of Greece is ranked among the most beautiful places to go for a honeymoon if you're rich that is.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Santorini, Greece</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >14/10/2016<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> SANTORINI </p>

                </div>
            </div>
        </div>


                <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal6"><img class="card-img-top" height="250px"  src="/static/images/food/fd2.jpg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/food/fd2.jpg" name="aboutme" width="90%" height="90%"></a>
                    
                    </center>
                    <hr>
                    <p style="font-size: 15px" >The most popular traditional food in Kenya is said to be sweet when served hot.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Nairobi, Kenya</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >11/09/2018<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px" style="font-size: 15px"> TRADITIONAL FOOD </p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal7"><img class="card-img-top" height="250px"  src="/static/images/travel/tri5.jpg" alt="Card image cap"></a>
                <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/travel/tri5.jpg" name="aboutme" width="90%" height="90%">
                    
                    </center>
                    <hr>
                    <p style="font-size: 15px" >Dubai is among the best places to go for desert safaris which are very fun by the way.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Dubai</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >19/06/2017<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> DUBAI DESERT SAFARI</p>
                </div>
            </div>
        </div>

        
            <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal8"><img class="card-img-top" height="250px"  src="/static/images/wildlife/w3.jpeg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/wildlife/w3.jpeg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px">Check these magnificent beasts, I think you know whats about to happen .</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Cape Town, South Africa</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >09/11/2013<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> KRUGER NATIONAL PARK </p>

                </div>
            </div>
        </div>
                <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal9"><img class="card-img-top" height="250px"  src="/static/images/history/h5.jpg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/history/h5.jpg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >This is the Vasco Da Gama pillar found in Malindi, the only useful thing the explorer could leave for us.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Malindi, Kenya</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >27/03/2018<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> VASCO DA GAMA PILLAR </p>

                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal10"><img class="card-img-top" height="250px"  src="/static/images/wildlife/w1.jpeg" alt="Card image cap"></a>
                <div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/wildlife/w1.jpeg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >A sea turtle swimming in the warm Seychelles beach.Can you swim or you can explain?.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px">Seychelles</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >01/03/2019<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> SEYCHELLES SEA TURTLE </p>
                </div>
            </div>
        </div>

        
            <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal11"><img class="card-img-top" height="250px" src="/static/images/history/h4.jpg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/history/h4.jpg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >Fort Jesus of Mombasa is among the best historic sites in the area.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Mombasa, Kenya</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >17/12/2014<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> FORT JESUS </p>
                

                </div>
            </div>
        </div>
                <div class="">
            <div class="card ml-4 mt-4" style="width: 40rem;">
                <div class="view overlay zoom">
                    <a href="#aboutModal" data-toggle="modal" data-target="#myModal12"><img class="card-img-top" height="250px"  src="/static/images/food/fd3.jpg" alt="Card image cap"></a>
                    <div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <center>
                    <img src="/static/images/food/fd3.jpg" name="aboutme" width="90%" height="90%">
                    </center>
                    <hr>
                    <p style="font-size: 15px" >Some say it's a drug, some say it's not but one thing for sure is that this meal is very sweet.</p>
                    <i class="fas fa-map-marker-alt"></i><p style="font-size: 15px" >Mutura Base, Kenya</p>
                    <i class="far fa-clock"></i><p style="font-size: 15px" >18/07/2019<p>
                </div>
                <div class="modal-footer">
                    <center>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
                </div>
                <div class="card-body">
                <p class='text-center' style="font-size: 15px"> MUTURA </p>

                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}